body {
	background: #000;
	color: #fff;
}
#gs {
	color: white;
	font-family: helvetica;
}
#gs > h3 {
	cursor: hand;
	margin: 0;
	padding: 0px;
	width: 40px;
}
#l2 > h3 > a {
	color: #fff;
}
#title {
	color: #fff;
}
