body {
	background: #888;
	margin: 0;
}
#story {
	z-index: 1;
	width: 100%;
    height: 402;
    background: #333;
    color: white;
    font-family: helvetica, arial;
    border-bottom: 5px solid #333;
}
#infobar {
	width: 100%;
	height: 200;
	padding-top: -399px;
	margin-top: -409px;
	background: #333;
	color: white;
	display: inline-block;
	margin-bottom: 0;
}
.alertbar {
	background: #333;
	height: 399;
	float: right;
	width: 20%;
	position: relative;
	top: -420px;
	border-bottom: 10px solid #333;
	color: white;
	border-left: 3px dashed #444;
	text-align: center;
}
